ipython
numpy
pandas
scipy
seaborn
empiricaldist
statsmodels
scikit-learn
janitor
fs
jupyter
jupyterlab
pathlib
pip
pyprojroot
black
invoke
matplotlib
nbdime
pandas-flavor
pandas-profiling
plotly
pyjanitor
tensorflow
keras
lightgbm
missingno
pylint
pyspark
python-dotenv
upsetplot
xgboost
lightgbm